.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.card-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  min-height: 100vh;
  width: 100%;
}

.card-modal-wrapper {
  width: 525px;
  background-color: white;
  padding: 25px 20px;
  border-radius: 6px;
}

.card-width {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-row {
  flex-wrap: wrap;
}

.col-full {
  width: 100%;
}

.col-half {
  width: calc(100% / 2);
  padding: 0 0.5rem;
}

.col-fifth {
  width: calc(100% / 5);
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}
