.hidden {
  display: none !important;
}

.text-gray {
  color: rgb(172, 169, 170);
}

.container {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.form-container {
  display: flex;
  justify-content: center;
  margin: 1.25rem;
}

.card-modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  z-index: 2;
  min-height: 100vh;
  width: 100%;
}

.card-modal-wrapper {
  width: 525px;
  background-color: white;
  padding: 25px 20px;
  border-radius: 6px;
}

.card-width {
  max-width: 75%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

/* FAVES LIST */

.f-img-container {
  width: 100%;
  height: 100%;
}

.f-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.25rem;
}

.f-card-width {
  max-width: 35%;
  margin: 0 auto;
}

.f-row {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-row {
  flex-wrap: wrap;
}

.nav-row {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.col-full {
  width: 100%;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-half {
  width: calc(100% / 2);
  padding: 0 0.5rem;
}

.col-fifth {
  width: calc(100% / 5);
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1440px) {
  .clow-card-text p {
    font-size: 1vw;
  }
}

@media screen and (max-width: 1245px) {
  .clow-card-text p {
    font-size: 1vw;
  }
}

@media screen and (max-width: 1200px) {
  .col-fourth {
    width: calc(100% / 4);
  }

  .f-card-width {
    max-width: 40%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 915px) {
  .col-third {
    width: calc(100% / 3);
  }

  .clow-card-text p {
    font-size: 1.5vw;
  }

  .f-card-width {
    max-width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 712px) {
  .col-third {
    width: calc(100% / 2);
  }

  .clow-card-text p {
    font-size: 2.5vw;
  }

  .nav-row {
    flex-direction: column;
  }

  .nav-links,
  .nav-header {
    display: flex;
    justify-content: center;
  }

  .container {
    margin-top: 10px;
  }

  .f-card-width {
    max-width: 80%;
    margin: 0 auto;
  }
}

/* @media screen and (max-width: 600px) {
  .f-card-width {
    max-width: 90%;
    margin: 0 auto;
  }
} */

@media screen and (min-width: 250px) and (max-width: 490px) {
  .col-fifth {
    width: 100%;
  }

  .clow-card-text p {
    font-size: 4vw;
  }

  .f-row {
    height: 100%;
  }
}

@media screen and (max-width: 405px) {
  .nav-header .col-full {
    width: 350px;
  }
}

@media screen and (max-width: 345px) {
  .d-flex {
    flex-direction: column;
  }
}
